.bigcont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filters {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 1px gray;
}

.filterTitle {
  font-size: xx-large;
}

.byId {
  width: 50px;
  border: solid 1px blue;
  border-radius: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayitems {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 10px 20px 0 20px;
  justify-content: center;
}

.cardContainer {
  width: 270px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px green;
}

.link {
  text-decoration: none;
}

.button {
  height: 40px;
  width: 150px;
  font-size: larger;
  border: solid 1px blue;
  border-radius: 15px;
  margin-top: 30px;
}