.container {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: antiquewhite;
}

.title {
  font-size: xx-large;
}

.description {
  text-align: center;
}